---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
---

<Layout 
  title="About | Sakshi Srivastava" 
  description="Learn about Sakshi Srivastava's background, core philosophy, interests, expertise and academic foundation."
>
  <main class="flex-grow">
    <!-- About / Biography -->
    <About />

    <!-- Skills Matrix -->
    <Skills />

    <!-- Education history -->
    <Education />
  </main>
</Layout>
